body 
{
    color: rgb(0, 0, 0); 
    background-color: rgb(208, 174, 211);
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    padding: 10px;
    border-radius: 5px;

}


#logo
{
    width: 100%-25px;
    height: 35px;   
    background-color: rgba(194, 72, 210, 0.836);
    border-radius: 6px;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}



#footer
{
    width: 100%-30px;
    background-color: rgb(58, 10, 79);
    height: 30px;
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

#content
{
    width: 940px;
    height: 300px;
    font-size: 19px;
    background-color: rgba(201, 31, 190, 0.63);
    padding: 20px;
    border-radius: 5px;;
    text-align: justify;
    margin: 10px;
    
}

.tile_0
{
    width: 283px;
    height: 90px;
    float: left;
    padding: 10px;
    background-color: rgb(178, 63, 189);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: rgb(240, 219, 219);
    
    
}
.tile_0:hover
{
    background-color: #9f30bd;
    cursor: pointer;
}

.tile_1
{
    width: 283px;
    height: 90px;
    float: left;
    padding: 10px;
    background-color: rgb(178, 63, 189);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: rgb(240, 219, 219);
    
}

.tile_1:hover
{
    background-color: #9f30bd;
    cursor: pointer;
}

.tile_2
{
    width: 283px;
    height: 90px;
    float: left;
    padding: 10px;
    background-color: rgb(178, 63, 189);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: rgb(240, 219, 219);
    
}

.tile_2:hover
{
    background-color: #9f30bd;
    cursor: pointer;
}
.tile_sm0
{
    float: left;
    width: 200px;
    height: 70px;
    background-color: rgba(255, 0, 0, 0.673);
    margin: 25px;
    border-radius: 4px;
    text-align: center;
    
}

.tile_sm0:hover
{
    background-color: rgba(174, 33, 33, 0.693); 
    cursor: pointer;
}

.tile_sm1
{
    float: left;
    width: 200px;
    height: 70px;
    background-image: url(png/in.png);
    background-position: center;
    margin: 25px;
    border-radius: 4px;
    text-align: center;
}

.tile_sm1:hover
{
    background-image: url(png/in_hover.png);
    cursor: pointer;
}

.tile_sm2
{
    float: left;
    width: 200px;
    height: 70px;
    background-color: rgb(64, 96, 160);
    margin: 25px;
    border-radius: 4px;
    text-align: center;
}

.tile_sm2:hover
{
    background-color: rgb(116, 143, 193); 
    cursor: pointer;
}

.tile_sm3
{
    float: left;
    width: 200px;
    height: 70px;
    background-image: url(png/Snapchat1.jpg);
    background-position: center;
    margin: 25px;
    border-radius: 4px;
    text-align: center;
}

.tile_sm3:hover
{
    background-image: url(png/Snapchat1_hover.jpg);
    cursor: pointer;
}
