body 
{
    color: rgb(0, 0, 0); 
    
    background: linear-gradient(0deg, rgba(185,104,247,1) 0%, rgba(114,2,228,1) 100%);
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(185,104,247,1) 0%, rgba(114,2,228,1) 100%);
}


#logo
{
    width: 100%-25px;
    height: 35px;   
    background: radial-gradient(circle, rgba(213,174,238,1) 0%, rgba(194,131,240,1) 100%);
    border-radius: 6px;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}



#footer
{
    width: 100%-30px;
    background: linear-gradient(0deg, rgba(114,2,228,1) 0%, rgba(185,104,247,1) 100%);
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

#content
{
    width: 940px;
    height: 300px;
    font-size: 19px;
    background: radial-gradient(circle, rgba(213,174,238,0.9058901148349965) 0%, rgba(197,148,233,1) 100%);

    padding: 20px;
    border-radius: 5px;;
    text-align: justify;
    margin: 10px;
    
}

.tile_0
{
    width: 283px;
    height: 90px;
    float: left;
    padding: 10px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,207,1) 50%, rgba(132,69,252,0.807850899148722) 100%);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: rgb(240, 219, 219);
    a:link { color: #f9fafb; }
    a:visited { color: #f9fafb; }
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}
.tile_0:hover
{
    background: linear-gradient(90deg, rgba(104,26,157,1) 0%, rgba(251,15,203,1) 50%, rgba(124,55,254,1) 100%);
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.tile_1
{
    width: 283px;
    height: 90px;
    float: left;
    padding: 10px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,207,1) 50%, rgba(132,69,252,0.807850899148722) 100%);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: rgb(240, 219, 219);
    a:link { color: #f9fafb; }
    a:visited { color: #f9fafb; }
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.tile_1:hover
{
    background: linear-gradient(90deg, rgba(104,26,157,1) 0%, rgba(251,15,203,1) 50%, rgba(124,55,254,1) 100%);
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.tile_2
{
    width: 283px;
    height: 90px;
    float: left;
    padding: 10px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,207,1) 50%, rgba(132,69,252,0.807850899148722) 100%);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: rgb(240, 219, 219);
    a:link { color: #f9fafb; }
    a:visited { color: #f9fafb; }
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.tile_2:hover
{
    background: linear-gradient(90deg, rgba(104,26,157,1) 0%, rgba(251,15,203,1) 50%, rgba(124,55,254,1) 100%);
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.tile_sm0
{
    float: left;
    width: 200px;
    height: 70px;
    background-color: rgba(255, 0, 0, 0.673);
    margin: 25px;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.tile_sm0:hover
{
    background-color: rgba(174, 33, 33, 0.693); 
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.tile_sm1
{
    float: left;
    width: 200px;
    height: 70px;
    background-image: url(png/in.png);
    background-position: center;
    margin: 25px;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.tile_sm1:hover
{
    background-image: url(png/in_hover.png);
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.tile_sm2
{
    float: left;
    width: 200px;
    height: 70px;
    background-color: rgb(64, 96, 160);
    margin: 25px;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.tile_sm2:hover
{
    background-color: rgb(116, 143, 193); 
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.tile_sm3
{
    float: left;
    width: 200px;
    height: 70px;
    background-image: url(png/Snapchat1.jpg);
    background-position: center;
    margin: 25px;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.tile_sm3:hover
{
    background-image: url(png/Snapchat1_hover.jpg);
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
a {
    text-decoration: none;
}
